[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "*"
admin_search_plus = {path = "./admin_search_plus-0.2-py3-none-any.whl"}

[requires]
python_version = "3.7"
